[run]
omit =
    */tests/*
    */test_*
    */cli.py
    */main.py
    */config.py

[report]
exclude_lines =
    pragma: no cover
    def printResults
    def main
    if __name__ == .__main__.:
    print()